body{
	font-family: 'Commissioner', sans-serif;
	font-size: 16px;
	text-align: center;
	background-repeat: no-repeat;
	background-color: whitesmoke;
}

nav ul{
	color: white;
}

@media (max-width: 375px){
	body{
		background-image: url("./images/image-hero-mobile.jpg");
	}
}

/*Desktop Screen*/
@media (min-width: 375px){
	body{
		background-image: url("./images/image-hero-desktop.jpg");
	}

	article{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	nav{
		display: grid;
		grid-template-columns: 50% 50%;
		margin-bottom: 20%;
		padding: 0% 10%;
		background: line;
	}

	nav img{
		align-self: center;
	}

	nav ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		list-style: none;
		gap: 5%;
	}

	.card{
		background-color: white;
		border-radius: .25rem;
		width: 50%;
	}

	#backModal{
		display: none;
	}

	.checkbox{
		border-color: gray;
		border-width: 1px;
		border-style: solid;
	}
}