#modalContent{
	z-index: 1;
}

/*Mobile Screen*/
@media (max-width: 375px){

}

/*Desktop Screen*/
@media (min-width: 375px){
	#modal{
		background-color: rgba(0, 0, 0, .4);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#modalContent{
		background-color: white;
		width: 47%;
		border-radius: .25rem;
		position: fixed;
		left: 24%;
		top: 0;
		padding: 2.5%;
		padding-top: 2%;
	}

	#modalContent header{
		text-align: start;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
	}

	#modalContent header div{
		grid-column-start: 2;
		display: flex;
		justify-content: flex-end;
	}

	#modalContent header img{
		justify-self: end;
		grid-row-start: 1;
		grid-column-start: 2;
	}

	#modalContent header h3{
		grid-column-start: 1;
		grid-row-start: 2;
		margin: 0;
	}

	#modalContent header p{
		white-space: nowrap;
		grid-row-start: 3;

	}

	.checkbox{
		border-color: gray;
		border-width: 1px;
		border-style: solid;
	}
}